/* Header */
.headerContainer {
  color: white;
  width: 100%;
  /* padding-top: 25px; */
  /* background-color: rgba(255, 255, 255, 0); */
  background-image: url(../../public/headerBg.jpg);
  background-position: 50% 63%;
  background-size: cover;
  /* padding-bottom: 15%; */
  padding-block: 7.5%;
  /* height: 25vh; */
  /* display: flex; */
}
@media (max-width: 500px) {
  .headerContainer {
    padding-bottom: 0;
  }
}

.headerContainer > div {
  height: 100%;
}

.headerContainer > div a h1 {
  margin-top: 0.13em;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleLink {
  width: 50%;
}

@media (min-width: 350px) and (max-width: 800px) {
  .titleLink {
    width: 70%;
    align-self: flex-end;
    padding-bottom: 10px;
  }
}

@media (min-width: 801px) {
  .titleLink {
    width: 50%;
  }
}

.headerIconButton {
  background-color: #7b0000;
  width: calc(10em - 0.5em);
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIconButton:active {
  background-color: #660000;
}

.productType {
  font-size: 1.4em;
  padding: 0 0.2em;
}

.headerContainer .headerMainCenter {
  text-align: center;
  width: 100%;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  padding-inline: 20px;
  gap: 3%;
  /* margin-block: 50px; */
  height: 100%;
}

.headerContainer .siteTitle {
  width: 100%;
  /* height: 100px; */
  overflow: hidden;
  font-size: 1.2em;
  /* flex: 2 2 200%; */
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 3px 5px black;
  /* -webkit-text-stroke-width: 1.5px; */
  stroke: #264561;

  /* -webkit-text-stroke-color: #264561; */
  @media (max-width: 350px) {
    font-size: .8em;
  }
  @media (min-width: 600px) {
    font-size: 2em;
    height: 100px;
    /* width: 75%; */
  }
  @media (min-width: 900px) {
    font-size: 2.2em;
  }
}

/* LinksContainer */
.headerContainer .linksContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 800px) {
    display: none;
  }
}

.headerContainer .linksContainer a {
  color: white;
  text-decoration: none;
  font-size: clamp(18px, 20px, 22px);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 3px 5px black;
  /* -webkit-text-stroke-width: 1.5px; */
  stroke: #264561;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LogoContainer */
.headerContainer .logoContainer {
  top: 16px;
  left: 25px;
  justify-content: center;
  align-items: center;
  justify-self: left;
}

.headerContainer .logoContainer img {
  height: 100px;
  width: auto;
}

.menu {
  @media (min-width: 801px) {
    display: none;
  }
}
