 .bg {
     width: 100%;
     text-align: center;
     margin: auto;
     margin-bottom: 20px;
     font-size: medium;
     padding-bottom: 0;
    }
  

@media (max-width: 750px) {
    .bg {
      padding-inline: 15px;
    }
  }