.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* min-width: 100%; */
  padding: 20px 0px;
}

.title {
  font-size: 38px;
  margin-bottom: 20px;
  text-align: center;
}

.quote {
  /* font-size: 28px; */
  font-size: 1.4em;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
  @media (min-width: 600px) {
    font-size: 1.6em;
  }
  @media (min-width: 900px) {
    font-size: 1.8em;
  }
}

.quoteAuthor {
  font-size: 20px;
}

.description {
  font-size: 26px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  padding-inline: 35px;
}

@media (max-width: 600px) {
  .description {
    font-size: small;
    padding-inline: 15px;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  background-color: #bdd6f4;
  /* background-color: #799ac5; */
  padding-block: 20px;
}

.image {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.imageDesc {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  /* color: gray; */
}

.imageDescSpan {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 0;
  }
  .imageContainer {
    background-color: rgb(86, 201, 255);
    padding: 10px;
  }
}
